<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CCTT_SQL_to_SharePoint_Sync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CCTT_SQL_to_SharePoint_Sync.Properties.Settings.ContactTraceConnectionString"
            connectionString="Data Source=10.27.251.34;Initial Catalog=ContactTrace;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <CCTT_SQL_to_SharePoint_Sync.Properties.Settings>
            <setting name="SPPwd" serializeAs="String">
                <value>mac$cheese$1900</value>
            </setting>
        </CCTT_SQL_to_SharePoint_Sync.Properties.Settings>
    </applicationSettings>
</configuration>